@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="../Styles/Index.css" />

}

<div class="text-center">
    <h1 class="display-4" id="navbar">Bem-Vindo a ExperienceIa</h1>
</div>
